<!DOCTYPE HTML>
<html>
<head>   
    <title>SuperMap iClient for JavaScript:TiledDynamicRESTLayer</title>
    <script src="./libs/SuperMap.Include.js"></script>
    <script src="./libs/temp.js"></script>
    <script >
    var map, layer,vectorLayer,
    url = "http://192.168.61.100:8090/iserver/services/map-world/rest/maps/ ¿ΩÁµÿÕº";
    var style = {
            strokeColor: "#304DBE",
            strokeWidth: 1,
            fillColor: "#304DBE",
            fillOpacity: "0.8"
        };
    </script>
</head>
<body onload="init('Countries')"> 
    <div id="map1" style="position:absolute;left:0px;right:0px;width:800px;height:500px;" >             
    </div>    
</body>
</html>