<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>TaskStartServlet</servlet-name>
  <servlet-class>servlet.TaskStartServlet</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AjaxServlet</servlet-name>
  <servlet-class>action.AjaxServlet</servlet-class>
 </servlet>
 <servlet>
          <servlet-name>ServerStartupServlet</servlet-name>
          <servlet-class>servlet.ServerStartupServlet</servlet-class>
          <load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
          <servlet-name>ServerStartupServlet</servlet-name>
          <url-pattern>/ServerStartupServlet</url-pattern>
     </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MonitorServlet</servlet-name>
    <servlet-class>action.MonitorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConformServlet</servlet-name>
    <servlet-class>servlet.ConformServlet</servlet-class>
  </servlet>


 <servlet-mapping>
  <servlet-name>TaskStartServlet</servlet-name>
  <url-pattern>/TaskStartServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AjaxServlet</servlet-name>
  <url-pattern>/AjaxServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MonitorServlet</servlet-name>
    <url-pattern>/MonitorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConformServlet</servlet-name>
    <url-pattern>/ConformServlet</url-pattern>
  </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
